---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<section>
    <style>
        .imgbox {
            display: grid;
            height: 100%;
        }
        .main-img {
            width: 100%;
            height: 100%;
            margin: auto;
            border-radius: 20px 0px 0px 20px;
            border: 1px solid black;
        }
        .side-img {
            width: 100%;
            height: 100%;
            margin: auto;
            border-radius: 0px 20px 0px 0px;
            border: 1px solid black;
            vertical-align: baseline;
        }
        .side-img2 {
            width: 100%;
            height: 100%;
            margin: auto;
            border-radius: 0px 0px 20px 0px;
            border: 1px solid black;
            vertical-align: baseline;
        }
        
        .item1 { grid-area: header;}
		.item2 { grid-area: menu;}
		.item3 { grid-area: main;}

		.grid-container {
		  display: grid;
		  grid-template-areas:
		    'header header header header menu'
		    'header header header header main';
		}

		.grid-container > div {
		  padding: 0 0;
		}
    </style>
    <div class="imgbox">
        <div class="grid-container">
			<div class="item1">
		 		<img class="main-img" src="img/2016Summer.jpg">
			</div>
			<div class="item2">
		 		<img class="side-img" src="img/2024Fall.jpg">
			</div>
			<div class="item3">
		 		<img class="side-img2" src="img/2024EMNLP.jpg">
			</div>
		</div>
    </div>
    <br>
    <h2 class="newstitle">News</h2>

    {% assign need_older_news = 0 %}

    <ul class="news">
        {% assign c_quarters = 0 %}
        {% assign prev_quarter = "" %}
        {% for post in site.posts %}
            {% if post.quarter != prev_quarter %}
                {% assign c_quarters = c_quarters | plus: 1 %}
                {% assign prev_quarter = post.quarter %}
                {% if c_quarters <= site.front_page_news %}
                    <div class="date">
                        {{ post.quarter }}
                    </div>
                {% endif %}
            {% endif %}
            {% if c_quarters <= site.front_page_news %}
                {% include news-item.html item=post %}
            {% else %}
                {% assign need_older_news = 1 %}
            {% endif %}
        {% endfor %}

        {% if need_older_news == 1 %}
            <li>
                <div class="icon">
                    <span class="fa fa-fw fa-history"></span>
                </div>
                <div class="text">
                    <a href="{{ site.base }}/blog.html">Older news&hellip;</a>
                </div>
            </li>
        {% endif %}
    </ul>
    
    
</section>
